<div class="col-3 m-auto">
  <div class="mt-4 pt-4 pb-5 text-center border rounded bg-white">
    <h3 class="m-4 border-bottom border-success">ログイン</h3>
    <%= render 'layouts/flash_message' %>

    <%= form_with model: @admin, url: session_path(resource_name), local: true do |f| %>
      <div class="field">
        <%= f.label :email, "ログインID：" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :password, "パスワード：" %>
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>

      <div class="actions">
        <%= button_tag type: "submit", class: "btn btn-primary mt-4 w-50" do %>
         <i class="fa-solid fa-right-to-bracket"> ログイン</i>
        <% end %>
      </div>
    <% end %>

    <%= render "admin/shared/links" %>
  </div>
</div>
