<div class="col">
  <h2 class="mb-5 text-center">投稿したコメント一覧</h2>

    <%= render 'layouts/flash_message' %>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th class="table-active">登録日</th>
        <th class="table-active">スポット名</th>
        <th class="table-active">コメント内容</th>
        <th class="table-active"></th>
      </tr>
    </thead>

    <tbody>
      <% @comments.each do |comment| %>
      <tr>
        <td class="align-middle"><%= comment.created_at.strftime('%Y/%m/%d') %></td>
        <td class="align-middle"><%= Spot.find(comment.spot_id).name %></td>
        <td class="align-middle"><%= comment.comment %></td>
        <td class="text-center d-flex justify-content-around">
          <%= link_to '表示', public_comment_path(comment.id), data: {"turbolinks" => false}, class:"btn btn-info", id:"btn-font-bold" %>
          <%= link_to '削除', public_comment_path(comment.id), method: :delete, data: {confirm: "コメントを削除しますか？"}, class:"btn btn-danger", id:"btn-font-bold" %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate @comments %>
</div>
