<div class="col-3 m-auto">
  <h2>新規ユーザー登録</h2>

  <%= form_with model: @user, url: registration_path(resource_name), local: true do |f| %>
    <%= render "public/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :name, "ユーザーネーム" %><br>
      <%= f.text_field :name, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :email, "メールアドレス" %><br />
      <%= f.email_field :email, autocomplete: "email" %>
    </div>

    <div class="field">
      <%= f.label :password, "パスワード" %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, "パスワード" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="actions">
      <%= f.submit "新規登録", class:"btn btn-success mt-4" %>
    </div>
  <% end %>

  <div class="mt-4">
    <h4>既に登録済みの方</h4>
    <p>
      <%= link_to 'こちら', new_user_session_path %>
      からログインしてください。
    </p>
  </div>
</div>