<div id="sp_spot_index">
  <% spots.each.with_index(1) do |spot, count| %>
    <h3 class="mb-2"><i id="spot-icon" class="fa-solid fa-location-dot"></i> No.<%= count %></h3>
    <table class="table table-bordered">
      <tbody>
        <tr>
          <th class="table-active">登録日</th>
          <td class="align-middle"><%= spot.created_at.strftime('%Y/%m/%d') %></td>
        </tr>
        <tr>
          <th class="table-active">スポット名</th>
          <td class="align-middle"><%= spot.name %></td>
        </tr>
        <tr>
          <th class="table-active" style="width: 36%">ゴミの種類</th>
          <td>
            <div class="w-50 m-auto">
              <%= render 'layouts/kinds_view_index', spot: spot %>
            </div>
          </td>
        </tr>
        <tr>
          <th class="table-active"></th>
          <td colspan="2" class="text-center d-flex justify-content-around">
            <%= link_to '表示', public_spot_path(spot.id), data: {"turbolinks" => false}, class:"btn btn-info", id:"font-bold" %>
            <%= link_to '削除', public_spot_path(spot.id), method: :delete, data: {confirm: "スポットを削除しますか？"}, class:"btn btn-danger", id:"font-bold" %>
          </td>
        </tr>
      </tbody>
    </table>
  <% end %>
</div>