<div id="spot_index" class="col">
  <h2 class="mb-sm-5 text-center">登録したスポット一覧</h2>

    <%= render 'layouts/flash_message' %>

  <%= render 'sp_index', spots: @spots %>
  <table id="pc_table" class="table table-bordered">
    <thead>
      <tr>
        <th class="table-active">登録日</th>
        <th class="table-active">スポット名</th>
        <th class="table-active" style="width: 36%">ゴミの種類</th>
        <th class="table-active"></th>
      </tr>
    </thead>

    <tbody>
      <% @spots.each do |spot| %>
      <tr>
        <td class="align-middle"><%= spot.created_at.strftime('%Y/%m/%d') %></td>
        <td class="align-middle"><%= spot.name %></td>
        <td class="kinds-td align-middle">
          <div class="d-flex">
            <%= render 'layouts/kinds_view_index', spot: spot %>
          </div>
        </td>
        <td class="text-center d-flex justify-content-around">
          <%= link_to '表示', public_spot_path(spot.id), data: {"turbolinks" => false}, class:"btn btn-info", id:"font-bold" %>
          <%= link_to '削除', public_spot_path(spot.id), method: :delete, data: {confirm: "スポットを削除しますか？"}, class:"btn btn-danger", id:"font-bold" %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate @spots %>
</div>
