<div class="col">
  <div class="text-center">
    <h2 class="mb-2 text-center"><%= @user.name %>さんのユーザー詳細</h2>

    <div class="row">
      <h3 class="m-3">登録情報</h3>
    </div>

    <table class="table table-bordered">
      <tbody>
        <tr>
          <td class="table-active">ユーザーID</td>
          <td><%= @user.id %></td>
        </tr>

        <tr>
          <td class="table-active">ユーザー名</td>
          <td><%= @user.name %></td>
        </tr>

        <tr>
          <td class="table-active">メールアドレス</td>
          <td><%= @user.email %></td>
        </tr>

        <tr>
        <td class="table-active">会員ステータス</td>
        <td>
          <% if @user.is_active == true %>
            <p class="text-success font-weight-bold">有効</p>
          <% else %>
            <p class="text-danger font-weight-bold">退会</p>
          <% end %>
        </td>
      </tr>
      </tbody>
    </table>


    <div class="row justify-content-center mb-4">
      <p><%= link_to '編集する', edit_admin_user_path,class:"btn btn-primary ml-3" %></p>
    </div>

    <div class="d-flex justify-content-center">
      <p><%= link_to '登録したスポットを見る', admin_spots_path(user_id: @user.id), class:"btn btn-info m-3" %></p>
      <p><%= link_to '投稿したコメントを見る', admin_comments_path(user_id: @user.id), class:"btn btn-success m-3" %></p>
    </div>
  </div>
</div>