<div class="col-4 m-auto">
  <div class="mt-4 pt-4 pb-5 text-center border rounded bg-white">
    <h3 class="m-4 border-bottom border-success">ログイン</h3>
    <%= render 'layouts/flash_message' %>

    <%= form_with model: @user, url: session_path(resource_name), local: true do |f| %>
      <div class="field">
        <%= f.label :email, "ログインID：" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :password, "パスワード：" %>
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me, "パスワードを保存する" %>
        </div>
      <% end %>

      <div class="actions">
        <%= button_tag type: "submit", class: "btn btn-primary mt-4 w-50" do %>
         <i class="fa-solid fa-right-to-bracket"> ログイン</i>
        <% end %>
      </div>
    <% end %>

    <div class="actions">
      <%= link_to users_guest_sign_in_path, class: "btn btn-secondary m-3 sign_in w-50", method: :post do %>
        <i class="fa-solid fa-user"> ゲストログイン</i>
      <% end %>
    </div>

    <div class="mt-4">
      <h4>会員登録が済みでない方</h4>
      <p>
        <%= link_to 'こちら', new_user_registration_path %>
        新規登録を行ってください。
      </p>
    </div>
  </div>
</div>
