<div class="col">
  <div class="text-center">
    <h2>マイページ</h2>

    <%= render 'layouts/flash_message' %>

    <div class="row">
      <h3 class="m-3">登録情報</h3>
    </div>

    <table class="table table-bordered">
      <tbody>
        <tr>
          <td class="table-active">ユーザーネーム</td>
          <td><%= @user.name %></td>
        </tr>

        <tr>
          <td class="table-active">メールアドレス</td>
          <td><%= @user.email %></td>
        </tr>
      </tbody>
    </table>

    <% unless @user.guest_user? %>
      <div class="row justify-content-center m-4">
        <%= link_to public_users_information_edit_path, class:"btn btn-primary w-25" do %>
          <i class="fa-solid fa-user-gear"> ユーザー情報を編集する</i>
        <% end %>
      </div>
    <% end %>

    <div class="d-flex justify-content-center">
      <p>
        <%= link_to public_spots_path, class:"btn btn-info m-3" do %>
          <i class="fa-solid fa-location-dot"> 登録したスポットを見る</i>
        <% end %>
      </p>
      <p>
        <%= link_to public_comments_path, class:"btn btn-success m-3" do %>
          <i class="fa-solid fa-comment-dots"> 投稿したコメントを見る</i>
        <% end %>
      </p>
    </div>

    <% unless @user.guest_user? %>
      <div class="row justify-content-center mt-4">
        <%= link_to public_users_unsubscribe_path, class:"btn btn-danger" do %>
          <i class="fa-solid fa-user-xmark"> 退会する</i>
        <% end %>
      </div>
    <% end %>
  </div>
</div>