<% spot.spot_kinds.each do |spot_kind| %>
  <% case spot_kind.kind.color %>
    <% when 'white' %>
      spotKindsHtml += "<p class='spot-kind white'><%= spot_kind.kind.name %></p>";
    <% when 'gray' %>
      spotKindsHtml += "<p class='spot-kind gray'><%= spot_kind.kind.name %></p>";
    <% when 'red' %>
      spotKindsHtml += "<p class='spot-kind red'><%= spot_kind.kind.name %></p>";
    <% when 'purple' %>
      spotKindsHtml += "<p class='spot-kind purple'><%= spot_kind.kind.name %></p>";
    <% when 'blue' %>
      spotKindsHtml += "<p class='spot-kind blue'><%= spot_kind.kind.name %></p>";
    <% when 'yellow' %>
      spotKindsHtml += "<p class='spot-kind yellow'><%= spot_kind.kind.name %></p>";
    <% when 'green' %>
      spotKindsHtml += "<p class='spot-kind green'><%= spot_kind.kind.name %></p>";
    <% when 'orange' %>
      spotKindsHtml += "<p class='spot-kind orange'><%= spot_kind.kind.name %></p>";
    <% when 'pink' %>
      spotKindsHtml += "<p class='spot-kind pink'><%= spot_kind.kind.name %></p>";
    <% when 'brown' %>
      spotKindsHtml += "<p class='spot-kind brown'><%= spot_kind.kind.name %></p>";
  <% end %>
<% end %>