<!DOCTYPE html>
<html>
  <head>
    <title>TrashCanSpot</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/805b015b17.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header mb-2">
      <div class="container-fluid">
        <div class="row py-3">
          <div class="col-3">
            <div class="logo">
              <h1>ゴミ箱スポット</h1>
            </div>
          </div>
          <div class="col-5 offset-3">
            <div class="row justify-content-md-between">
              <% if user_signed_in? %>
                  <div class="header-content">
                    <%= link_to 'スポットを見る', public_main_path, data: {"turbolinks" => false}, class:"btn btn-outline-dark" %>
                  </div>
                  <div class="header-content">
                    <%= link_to 'マイページ', public_users_my_page_path, class:"btn btn-outline-dark" %>
                  </div>
                  <div class="header-content">
                    <%= link_to 'スポット登録', new_public_spot_path, data: {"turbolinks" => false}, class:"btn btn-outline-dark" %>
                  </div>
                  <div class="header-content">
                    <%= link_to 'お気に入り', class:"btn btn-outline-dark" %>
                  </div>
                  <div class="header-content">
                    <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class:"btn btn-outline-dark" %>
                  </div>

              <% elsif %>
                <div class="col-3">
                  <div class="header-content">
                    <%= link_to '新規登録', new_user_registration_path, class:"btn btn-outline-dark" %>
                  </div>
                </div>
                <div class="col-3">
                  <div class="header-content">
                    <%= link_to 'ログイン', new_user_session_path, class:"btn btn-outline-dark" %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </header>

    <main class="container-fluid">
      <div class="row">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
