<!DOCTYPE html>
<html>
  <head>
    <title>ゴミ箱スポット</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/805b015b17.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header mb-2 border-bottom">
      <div class="container-fluid">
        <div class="row align-items-center">
          <div class="col-3">
            <div class="logo">
              <h1>ゴミ箱スポット</h1>
            </div>
          </div>
          <div class="col-6 offset-3">
            <% if user_signed_in? %>
              <div class="row justify-content-md-between mr-auto">
                <div class="header-content rounded">
                  <%= link_to public_main_path, data: {"turbolinks" => false}, class:"btn btn-outline-success" do %>
                    <i class="fa-solid fa-location-dot"> スポットを見る</i>
                  <% end %>
                </div>
                <div class="header-content rounded">
                  <%= link_to public_users_my_page_path, class:"btn btn-outline-success" do %>
                    <i class="fa-solid fa-user"> マイページ</i>
                  <% end %>
                </div>
                <div class="header-content rounded">
                  <%= link_to new_public_spot_path, data: {"turbolinks" => false}, class:"btn btn-outline-success" do %>
                    <i class="fa-solid fa-plus"> スポット登録</i>
                  <% end %>
                </div>
                <div class="header-content rounded">
                  <%= link_to public_favorites_path, class:"btn btn-outline-success" do %>
                    <i class="fa-solid fa-star"> お気に入り</i>
                  <% end %>
                </div>
                <div class="header-content rounded">
                  <%= link_to destroy_user_session_path, method: :delete, class:"btn btn-outline-success" do %>
                    <i class="fa-solid fa-right-from-bracket"> ログアウト</i>
                  <% end %>
                </div>
            <% elsif %>
              <div class="row justify-content-md-around ">
                <div class="header-content">
                  <%= link_to '新規登録', new_user_registration_path, class:"btn btn-outline-dark" %>
                </div>
                <div class="header-content">
                  <%= link_to 'ログイン', new_user_session_path, class:"btn btn-outline-dark" %>
                </div>
              </div>
            <% end %>
            </div>
          </div>
        </div>
      </div>
    </header>

    <main class="container-fluid">
      <div class="row">
        <%= yield %>
      </div>
    </main>
  </body>

  <script>
    $('.flash-message').hide().fadeIn(0).delay(2000).fadeOut(200);
  </script>
</html>
